body{
background-color:#000000;
color:#5AAEFF;
text-align:center;
}

form{
    display:inline-block;
    text-align:center;
}

#Head{
    font-size:20px;
    text-align:center;
    color:#5AAEFF;
    height:90px;
    text-decoration:underline;
}