
body{
background-color:#000000;
text-align:center;
}

form{

align:center;
}



button{
height:3cm;
width:4cm;
color:#000000;
boarder-color:#5AAEFF;
background-color:#5AAEFF;
}

#Head{
    font-size:20px;
    text-align:center;
    color:#5AAEFF;
    height:90px;
    text-decoration:underline;
}