
body{
background-coler:#000000;
background:#000000;
text-align:center;
}

form{
background-coler:#0000000;
align:center;
}

p{
background-coler:#000000;
background:#000000;
text-align:center;
}

button{
height:3cm;
width:4cm;
color:0000FF
}