<!DOCTYPE html>
<html>
  <head>
    <title>Create Own Conversion</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='create.css')}}"/>
  </head>
  
  <body>
    <div id="Head">
      <h1>Create Own Unit</h1>
      </div>
    <form methode="POST" action="/create" >
      {{ form.Conversion.label }}</br> {{ form.Conversion(size=10) }}</br>
      {{ form.unit1(size=10)}} to {{ form.unit2(size=10)}}</br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>

</html>
