<!DOCTYPE html>
<html>
  
  {% block head %}
      {% block title %}<title>Conversion</title>{% endblock %}
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Homepage.css')}}"/>
  {% endblock %}

  {% block body %}
      <body>
	<div id="Head">
	<h1>Conversions</h1>
	</div>
	
     <form method="POST" action="/Homepage">
       <button type="submit" name="submit" value="CT" >Temperature Conversion</button>
       <button type="sumbit" name="submit" value="MakeOwn">Make Own Conversion</button>
       </form>
     </body>
   
    
  {% endblock %}

</html>
