<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <from>
      <input type='text' name='unit'>
      <select>
	<optgroup label="temprature">
	  <option value="CF">Celsius to Fehrenheit</option>
	  <option value="FC">Fehrenheit to Celsius</option>
	  <option value="CK">Celsuis to Kelvin</option>
          <option value="KC">Kelvin to Celsuis</option>
	  <option value="KF">Kelvin to Fehrenheit</option>
	  <option value="FK">Fehrenheit to Kelvin</option>
	 <optgroup label="distance">
	   <opton value="MKM">Meters to Kelio Meters</option>
      <input type='Submit' name='submit'>
    </from><br>
    <button type="button">Create own conversion</button>
  </body>
</html>
